/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
/*FOR PADDING IT GOES: Top, Right, Bottom, Left*/
/* html */
html {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.125em;
    line-height: 1.222em;
    padding: 1em 0 1em 0;
}
/* h1 */
h1 {
  font-size: 2.325em;
  line-height: 2.422em;
  color: #191970;
  font-weight: bolder;
}
/* h2 */
h2 {
  font-size: 2.125em;
  line-height: 2.222em;
  color: #0000CD;
  font-weight: normal;
}
/* h3 */
h3 {
  font-size: 1.740em;
  line-height: 1.955em;
  font-weight: normal;
}
h4 {
  font-size: 1.540em;
  line-height: 1.755em;
  font-weight: normal;
}
/* li */
li {
  font-size: 1.15em;
  padding: .10em 0 .15em .30em;
}
ul {
  list-style-type: disc;
  padding: 1em 0 1em 0;
}
/* p */
p {
  padding: 0 .10em 0 0;
}
/* img */
img {
  width: 30%;
}
.extracurriculars {
  list-style-type: square;
}
